# Environments
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Logs and DB
*.log
*.sqlite
*.db

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment Variables
.env
